In [82]:
import pandas as pd
import numpy as np
import random

In [119]:
# df = pd.read_csv("ppmf_01.csv") # to read the actual census df

m = 10  # num cols
n = 100 # num rows
df = pd.DataFrame(np.random.randint(0,2,size=(n, m)))
df

    0  1  2  3  4  5  6  7  8  9
0   0  1  1  0  1  1  0  1  1  1
1   0  0  1  1  1  0  0  0  1  1
2   1  1  0  0  1  1  1  0  1  0
3   0  0  1  1  0  0  0  1  0  0
4   0  1  1  0  1  0  1  1  0  1
.. .. .. .. .. .. .. .. .. .. ..
95  0  1  1  0  1  0  0  0  0  0
96  1  0  1  1  0  0  0  1  0  0
97  1  1  0  0  0  1  1  0  1  1
98  1  0  0  0  0  0  1  1  1  0
99  0  0  0  1  0  0  0  0  1  0

[100 rows x 10 columns]

In [120]:
def reconstruct(df):
    # tabulate 1 way queries
    qs = df.sum()
    recon = pd.DataFrame(columns=df.columns)
    (n, m) = df.shape
    
    for _ in range(len(df)):
        row = construct_row(recon, qs, n, m)
        recon.loc[len(recon)] = row
        qs = qs - row
        
    return recon
        
    
def construct_row(recon, qs, n, m):
    prob = qs/(n - len(recon))
    row = np.array([])

    for i in range(m):
        if random.random() <= prob[i]:
            row = np.append(row, 1)
        else:
            row = np.append(row, 0)

    row = row.astype(int)
    return row

In [121]:
recon = reconstruct(df)
recon

    0  1  2  3  4  5  6  7  8  9
0   1  0  1  0  0  1  1  0  1  1
1   1  1  0  1  1  1  1  1  0  0
2   1  0  0  1  1  0  0  1  1  0
3   0  1  0  0  0  1  1  0  1  1
4   0  1  1  0  1  1  1  1  1  0
.. .. .. .. .. .. .. .. .. .. ..
95  0  0  1  0  1  0  0  0  1  0
96  0  0  1  0  0  0  0  1  1  1
97  0  0  1  0  1  0  0  1  1  1
98  0  0  0  0  1  0  0  0  0  1
99  0  0  0  1  1  1  1  0  1  0

[100 rows x 10 columns]

In [115]:
recon.sum()

0    51
1    46
2    44
3    44
4    43
5    56
6    49
7    45
8    48
9    42
dtype: int64

In [116]:
df.sum()

0    51
1    46
2    44
3    44
4    43
5    56
6    49
7    45
8    48
9    42
dtype: int64

In [111]:
df.shape

(100, 10)