In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/raw/ppmf/by_state/ppmf_01.csv")
df

,VINTAGE,TABBLKST,TABBLKCOU,TABTRACTCE,TABBLKGRPCE,TABBLK,RTYPE,GQTYPE,QSEX,QAGE,CENHISP,CENRACE
0,20200527_P,1,93,964100,3,3058,3,0,1,12,1,1
1,20200527_P,1,93,964100,3,3058,3,0,1,12,1,1
2,20200527_P,1,93,964100,3,3058,3,0,1,12,1,1
3,20200527_P,1,93,964100,3,3058,3,0,1,12,1,1
4,20200527_P,1,93,964100,3,3058,3,0,1,12,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4779731,20200527_P,1,93,964100,3,3057,3,0,1,37,1,1
4779732,20200527_P,1,93,964100,3,3057,3,0,1,37,1,1
4779733,20200527_P,1,93,964100,3,3057,3,0,1,37,1,1
4779734,20200527_P,1,93,964100,3,3057,3,0,1,37,1,1
4779735,20200527_P,1,93,964100,3,3057,3,0,1,37,1,1

In [3]:
df["QSEX"].unique()

array([1, 2])

In [4]:
df["CENHISP"].unique()

array([1, 2])

In [5]:
df["CENRACE"].unique()

array([ 1,  2,  6, 11,  4,  7,  8,  3, 14, 22, 46, 13, 15,  5, 12,  9, 10,
       18, 25, 20, 41, 26, 43, 37, 19, 28, 30, 23, 21, 35, 24, 29, 16, 17,
       42, 53, 38, 32, 36, 57, 27, 44, 34, 48, 51, 45, 39, 52, 33, 49, 61,
       55, 31, 40, 59, 62, 58, 63])

In [6]:
df["TABBLKCOU"].unique()

array([ 93,   7,  77, 103,  39,  73,  45, 129,  47,   3, 101, 119,  83,
       115,  75,  81,  79,  87,  97, 127, 123, 131,   1,  55,  89,  57,
        15,  95,  51,  49,  91,   5,  43,  69, 109, 117,  13,  31,  63,
       125,  59, 121,  71,  33,  27, 133, 113,  23,  53,  85,  25, 107,
        99, 111,  19,  17, 105,  37,   9,  65,  21,  67,  35,  29,  11,
        61,  41])